.customSideBarBTN{
    margin: 0 !important;
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
    height: fit-content !important;

    @media all and (width : 768px) {
        
            margin-top: -40px !important;
        
    }
    
    @media all and (min-width : 768px) {
        
            top: 46px !important;
        
    }
}

