/* .leaflet-left .leaflet-control {
  display: none;
} */

.mapContainer {
  width: 600px;
  height: 424.7px;
  position: relative;
}
@media (max-width: 320px) {
  .mapContainer {
    width: 320px;
    height: 420px; /* Adjust the height as needed */
  }
}
@media (max-width: 375px) {
  .mapContainer {
    width: 374px;
    height: 420px; /* Adjust the height as needed */
  }
}
@media (max-width: 480px) {
  .mapContainer {
    width: 480px;
    height: 420px; /* Adjust the height as needed */
  }
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  /* display: none; */
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  /* display: none; */
}
.leaflet-control-zoom .leaflet-bar .leaflet-control {
  display: none;
}
.leaflet-right {
  display: none;
}

.bg-transparent {
  background-color: transparent !important;
}
